PORT=3040

TYPEORM_DATABASE_NAME=apigive
TYPEORM_DATABASE_USER=postgres
TYPEORM_DATABASE_PASSWORD=postgres
TYPEORM_DATABASE_HOST=127.0.0.1
TYPEORM_DATABASE_PORT=5443

JWT_SECRET=fdksjalkfhjio472389roiewfhskjahfjka
ACCESS_TOKEN_LIFETIME_HOURS=2

IMPACT_GRAPH_BASE_URL=http://localhost:4000
IMPACT_GRAPH_BASIC_AUTH_USERNAME=testApiGive
IMPACT_GRAPH_BASIC_AUTH_SECRET=123
GIVETH_IO_ADAPTER=mock
